USE [master]
GO
/****** Object:  Database [EmpolyeeInfoDB]    Script Date: 23-Apr-15 10:46:26 PM ******/
CREATE DATABASE [EmpolyeeInfoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpolyeeInfoDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\EmpolyeeInfoDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmpolyeeInfoDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\EmpolyeeInfoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpolyeeInfoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpolyeeInfoDB]
GO
/****** Object:  Table [dbo].[employeeTbl]    Script Date: 23-Apr-15 10:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employeeTbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Salary] [decimal](18, 0) NULL,
 CONSTRAINT [PK_employeeTbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[employeeTbl] ON 

INSERT [dbo].[employeeTbl] ([ID], [Name], [Email], [Address], [Salary]) VALUES (1, N'Tarik', N'tarik@yahoo.com', N'Dhaka', CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[employeeTbl] ([ID], [Name], [Email], [Address], [Salary]) VALUES (2, N'Rahman', N'rahman@yahoo.com', N'Dhaka', CAST(24000 AS Decimal(18, 0)))
INSERT [dbo].[employeeTbl] ([ID], [Name], [Email], [Address], [Salary]) VALUES (4, N'tamim', N'tamim@gmail.com', N'Dhaka', CAST(2000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[employeeTbl] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_employeeTbl]    Script Date: 23-Apr-15 10:46:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_employeeTbl] ON [dbo].[employeeTbl]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
